* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    background-color: #f5f5f5;
}

/* ================= NAVBAR ================= */
.navbar {
    background-color: #b11227;
    padding: 15px 0;
    text-align: center;
}

.logo {
    color: rgb(255, 255, 255);
    font-size: 30px;
    font-weight: bold;
    margin-bottom: 10px;
}

.menu {
    list-style: none;
    display: flex;
    justify-content: center;
    gap: 30px;
    padding: 0;
}

.menu li a {
    color: white;
    text-decoration: none;
    font-size: 16px;
}

.menu li a:hover {
    text-decoration: underline;
}

/* ================= HERO ================= */
.hero {
    background-color: black;
    color: white;
    text-align: center;
    padding: 60px 20px;
}

.hero h2 {
    font-size: 32px;
}

.hero p {
    margin-top: 10px;
}

.hero button {
    margin-top: 20px;
    padding: 10px 20px;
    background-color: #b11226;
    color: white;
    border: none;
    cursor: pointer;
}

.hero button:hover {
    background-color: #8e0f1f;
}

/* ================= SECTIONS ================= */
.about, .players, .schedule, .fan {
    padding: 40px 20px;
    text-align: center;
}

/* ================= PLAYERS ================= */
.player-cards {
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-top: 20px;
    flex-wrap: wrap;
}

.card {
    background-color: white;
    padding: 20px;
    width: 220px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}
.card img{
    width:100%;
    height:180px;
    object-fit: cover;
    margin-bottom: 10px;
    border-radius: 5px;
}

.card:hover {
    transform: scale(1.05);
    transition: 0.3s;
}

/* ================= SCHEDULE ================= */
table {
    margin: auto;
    margin-top: 20px;
    border-collapse: collapse;
}

table, th, td {
    border: 1px solid black;
    padding: 10px 15px;
}

/* ================= FAN ZONE ================= */
.fan button {
    margin: 10px;
    padding: 10px 15px;
    background-color: #b11226;
    color: white;
    border: none;
    cursor: pointer;
}

.fan button:hover {
    background-color: #8e0f1f;
}

/* ================= FOOTER ================= */
footer {
    background-color: black;
    color: white;
    text-align: center;
    padding: 15px;
}